/** Global *******************************************/
*{
	all: unset;
	font-family: FontAwesome;
	font-family: FontAwesome;
}

/** Generic window ***********************************/
.genwin {
	background-color: #282A33;
	border-radius: 16px;
}

/** Applications ***************************************/
.appbox {
	margin : 0px 0px 0px 0px; /* top - right - bot - left */
}

.app_launcher, .app_fox, .app_terminal,
.app_files, .app_steam {
	margin: 20px 8px 0px 8px;
  background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
}

.app_launcher {
	margin: 10px 8px 0px 8px;	
}
.app_fox {}
.app_terminal {}
.app_files {}
.app_steam {}

/** Applications ***************************************/
.powerbox {
	margin : 0px 0px 0px 0px; /* top - right - bot - left */
}

.power_shutdown, .power_reboot, .power_suspend {
	margin: 0px 10px 8px 10px;
  background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
}


.power_shutdown {}
.power_reboot {}
.power_suspend {}

/** EOF *************************************************/
