/* Colors */
@define-color text-color #e0e5eb;

@define-color background #282a33;
@define-color background-alt #32343d;

@define-color accent #5294e2;
@define-color accent-alt #b5d2f2;

@define-color alert #bf616a;
@define-color warning #ebcb8b;
@define-color success #a3be8c;

* {
    border: none;
    font-family: "Font Awesome", "Noto Sans", monospace;
    font-size: 12px;
    font-weight: 500;
    color: @text-color;
    border-radius: 0px;
}

window {
    /*font-weight: bold;*/
}
window#waybar {
    background: rgba(0,0,0,0);
    border-top: 2px solid transparent;
}

/* Modules */
.modules-right {
    background-color: transparent;
    margin: 0;
}
.modules-center {
    background-color: transparent;
    margin: 0;
}
.modules-left {
    margin: 0;
    background-color: @background;
    border-radius: 0 0 7px 0;
}

/* Workspaces */
#workspaces button {
    padding: 0px 5px 2px 5px; /*top - right - bottom - left*/
    background-color: transparent;
    border-top: 2px solid @warning;
}
#workspaces button.empty {
    border-top: 2px solid @background-alt;
}
#workspaces button.urgent {
    border-top: 2px solid @alert;
}
#workspaces button:hover {
    border-top: 2px solid @accent-alt;
}
#workspaces button.visible {
    border-top: 2px solid @accent-alt;
}
#workspaces button.active {
    border-top: 2px solid @accent;
}

/* Taskbar */
#taskbar button {
    margin: 0px 2px 0px 2px;
    padding: 0px 7px 2px 7px; /*top - right - bottom - left*/
    background-color: @background;
    border-radius: 0 0 7px 7px;
    border-top: 2px solid @background-alt;
}
#taskbar button:hover {
    border-top: 2px solid @accent-alt;
}
#taskbar button.active {
    border-top: 2px solid @accent;
}

#privacy-item {
    margin: 0 2px 0 2px;
}

#privacy,
#clock,
#pulseaudio,
#tray,
#custom-temperature {
    padding: 0 7px;
}

#privacy,
#tray,
#custom-temperature,
#pulseaudio {
    margin: 0 2px 0 2px;
    background-color: @background;
    border-radius: 0 0 7px 7px;
}

#clock {
    margin: 0 0 0 2px;
    background-color: @accent;
    border-radius: 0 0 0 7px;
}

#pulseaudio.sink.muted {
    color: @alert;
}

#pulseaudio.source {
    color: @success
}

#pulseaudio.source.source-muted {
    color: @text-color
}

